body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;

}

h1 {
  font-weight: 700;
}

.row {
  margin-right: 10px;
  margin-left: 10px;
}

.trackerHeader {
  font-family: 'Fira Sans', sans-serif;
  background-color: #202c44;
  text-align: center;
}

.card-header {
  font-size: 22px;
  font-weight: 500;
  background-color: #202c44;
  color: white;
}

.card-body p {
  margin-bottom: 0;
}

.card-button {
  background-color: #202c44;
  font-size: 14px;
  padding: 12px;
}

#cardBtn {
  width: 100%;
}

.modal-header {
background-color: #202c44;
color: white;
}

#modalCloseBtn {
  color: white;
  opacity: 0.7;
}

#modalCloseBtn:hover {
  color: white;
  opacity: 1;
}

.modal-footer {
  background-color: #202c44;
  color: white;
}

.tableHeader {
  font-size: 22px;
  font-weight: 500;
  padding: 11px!important;
  background-color: #a03d3d!important;
  border: 1px solid #a03d3d!important;
}