* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 2px solid black;
  padding: 10px;
}

#currentDay {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 22px;
  font-weight: 700;
}

#currentTime {
  letter-spacing: 2px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  margin: 5px auto;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  border-radius: 10px 0 0 10px!important;
  color: #000000;
  align-self: center;
}

.past {
  border-radius: 15px;
  background-color: #d4d4d4;
  color: white;
}

.present {
  border-radius: 15px;
  background-color: #77dd77;
  color: white;
}

.future {
  border-radius: 15px;
  background-color: #bfe6bf;
  color: white;
}

.saveBtn {
  font-size: 18px;
  background-color: #06aed5;
  border-radius: 0 10px 10px 0!important;
  color: white;
}

.saveBtn:hover {
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

.clearAll {
  float: right;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 50px;
  padding: 10px 20px;
}

.clearAll:hover {
  float: right;
  background-color: #b82a38;
  border-radius: 5px;
}