:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #d4d4d4;
  --green: #77dd77;
  --lightGreen: #dcf0dc;
  --blue: #06aed5;
  --red: #dc3545;
  --darkRed: #b82a38;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--black);
  border-left: 1px solid #252525;
  padding: 10px;
}

#currentDay {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 22px;
  font-weight: 700;
}

#currentTime {
  letter-spacing: 2px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--black);
  border-radius: 0;
  border-bottom: 10px solid var(--black);
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  margin: 5px auto;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--white);
}

.hour {
  border-radius: 10px 0 0 10px!important;
  color: var(--black);
  align-self: center;
}

.past {
  border-radius: 15px;
  background-color: var(--grey);
  color: var(--white);
}

.present {
  border-radius: 15px;
  background-color: var(--green);
  color: var(--white);
}

.future {
  border-radius: 15px;
  background-color: var(--lightGreen);
  color: var(--white);
}

.saveBtn {
  font-size: 18px;
  background-color: var(--blue);
  border-radius: 0!important;
  color: var(--white);
}

.saveBtn:hover {
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

.trashBtn {
  font-size: 18px;
  background-color: var(--red);
  border-radius: 0 10px 10px 0!important;
  color: var(--white);
}

.trashBtn:hover {
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

.clearAll {
  float: right;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 50px;
  padding: 10px 20px;
}

.clearAll:hover {
  float: right;
  background-color: var(--darkRed);
  border-radius: 5px;
}